header {
    background: grey;
    /* box-sizing: border-box; */
    border: 1px solid #000;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-left: 20px;

    color: #000000;
}

form {
    background: grey;
    /* margin-bottom: auto;     verificar */
    margin-left: auto;
    margin-right: auto;
    border: 1px solid grey;
}

#enviar_mensagem {
    background-color: lightseagreen;
    border-radius: 5px;
}

#enviar_mensagem:hover{
    font-style: italic;
}

#chat_box {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.historico_msg {
    list-style: none;
}